.c-tab
    .v-slide-group__next, .v-slide-group__prev 
         min-width: 30px
         flex: 0 1 30px
    .v-slide-group__next--disabled, .v-slide-group__prev--disabled 
         display: none
    .v-toolbar__content, .v-toolbar__extension 
         padding: 4px 0px
    .v-toolbar__content>.v-tabs:first-child, .v-toolbar__extension>.v-tabs:first-child 
         margin-left: 0px

.v-window 
     padding: 10px
     overflow: auto

.c-tab-vertical-text 
    .v-tab 
         writing-mode: vertical-lr
         height: auto !important
         padding: 4px 2px
         min-width: 30px
         letter-spacing: 4px

    .v-tabs-slider-wrapper
        width: 3px
        padding-top: 5px
        padding-bottom: 5px
    .v-window 
         padding: 10px
         max-width: calc(100% - 30px)

.v-toolbar__content .v-select .v-menu__content
    left: 0px !important
    top: 40px !important


